* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Verdana;
}

   body {
   background-color: #c0c0c0;
   }

   .wrapper {
   width: 1200px;
   min-height: 800px;
   margin: 0px auto;  
   padding: 0px;
   text-align: justify;
   background-color: white;
   overflow: hidden;
}

p {
	margin: 0 3% 0 3%;
}

.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination li {
	list-style-type: none;
	margin: 0 5% 0 5%;
}

.pagination a {
	color: #0BDA51;
	text-decoration: none;
}

.active {
   text-decoration: underline;
}

.active a {
	color: red;
}

a:hover {
   opacity: 1;
   transition: .8s;
}

footer img{
max-width: 5%;
max-height: 5%;
text-align: center;
margin: 0px auto; 
}

footer {
	color: #99c50a;
	margin: 0px auto; 
	/*color: #848484;*/
	/*font-family: "Open Sans", sans-serif;*/
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding: 20px;
}

.succes {
	color: red;
}

table {
	text-align: center;
	padding: 5;
	width: 100%;
	border-spacing: 4;
	border: 5px solid black;
}

.name{
	font-size: 12pt;
}

.detail_navigation{
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
	width: 50px;
	height: 50px;
}

.new {
	   color: red;
   }
   .old {
	   color: green;
   }
   .adm {
	   max-width: 1100px;
	   margin: 10 auto;
   }

   .header, .hid { 
    list-style: none; margin: 0; padding: 0;
   }
   .header {
	text-align: center;
	margin-top: 42px;
    font-size: 20px;	
    background: linear-gradient(to bottom, #fff, #f1f2f2);
    border: 1px solid #999;
    padding: 0 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   }
   .header li {
    display: inline-block;
    border-right: 1px solid #fff; 
    position: relative; 
   }
   .hid li {
	display: block;
   }
   .header a, .hid a {
    text-decoration: none;
    color: #4c4c4c; 
    display: block; 
   }
   .header > li > a {
    padding: 10px 15px; 
    border-right: 1px solid #d8d8d8;
    position: relative; z-index: 3;
   }
   .hid {
    position: absolute; 
    display: none; 
    background: #fff; 
    box-shadow: 0 0 10px #666;
	z-index: 99;
   }
   .header ul a {
    padding: 5px 10px;
   }
   .header ul a:hover {
    background: #008df2; 
    color: #fff; 
   }
   .header li:hover ul {
    display: block; 
   }
   .header > li:hover::before {
    content: ''; 
    top: 0; left: 0; right: 0; bottom: 0;
    box-shadow: 0 5px 10px #666; 
    position: absolute; 
   }
   .header > li:hover > a {
    background: #fff; 
   }
   h2 {
	   text-align: center;
	   margin: 10px 10px;
   }
   .focus {
	   width: 100%;
	   margin: 30px auto;
	   display: flex;
	   flex-direction: row;
	   justify-content: space-between;
	   flex-wrap: wrap;
   }
   .focuses{
	   width: 300px;
	   height: 400px;
	   margin: 10px 20px;
	   text-align: center;
   }
   .good_information{
	   height: 40px;
	   text-align: left;
	   margin: 5px 0px;
   }
   .information, .box {
	   text-align: left;
	   margin: 5px 0px;
   }
  .box input {
	  margin: 10px auto;
	  width: 30%;
  }
  .sale_box input {
	  margin: 5px auto;
	  width: 80px;
  }
  .sales {
       margin: 10px auto;
	   display: flex;
	   flex-direction: row;
	   justify-content: space-between;
	   height: 300px;
  }
  .sale {
	  text-align: justify;
	  font-size: 15px;
	  width: 42px;
	  height: 42px;
	  border-radius: 42px;
	  background: red;
	  position: absolute;
	  top: -5%;
	  left: -5%;
	  z-index: 1;
  }
  .sale p {
	  position: relative;
	  top: 10px;
  }
  .picture {
	  width: 250px;
	  height: 250px;
	  background-position: center;
	  background-size: cover;
	  background-repeat: no-repeat;
  }
    .picture_sale {
	   width: 150px;
	   height: 150px;
	   background-position: center;
	   background-size: cover;
	   background-repeat: no-repeat;
  }
  .picture a, .picture_sale a {
	  display: block;
	  text-align: center;
	  height: 100%;
  }
  .discount {
	  width: 250px;
	  height: 250px;
	  margin: 10px 10px;
	  position: relative;
  }
  
  
  /* goods.php */
  
  
  .sidebar {
	  width: 25%;
	  height: 1000px;
	  float: left;
	  padding: 20px 20px;
  }
  .sidebar p {
	  padding: 2px;
  }
  .goods_main {
	  width: 100%;
	  height: 100%;
	  padding: 20px;
  }
  .right {
	  min-height: 1000px;
	  padding: 20px;
	  display: flex;
	  flex-direction: row;
	  justify-content: flex-start;
	  flex-wrap: wrap;
  }
   .detail_wrapper{	      
   margin: 0px 0px 0px 380px;
   padding: 10px;
   min-height: 500px;
   }
  .left {
	  height: 500px;
	  width: 350px;
	  float: left;
	  padding: 20px 20px;
	  background-position: center;
	  background-size: cover;
	  background-repeat: no-repeat;
  }
  .likes {
	  margin: 18px 0px;
  }
  .rating-area {
	overflow: hidden;
	width: 265px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}
  .detail_sale {
	  text-align: justify;
	  font-size: 15px;
	  width: 42px;
	  height: 42px;
	  border-radius: 42px;
	  background: red;
	  position: absolute;
	  top: 21%;
	  left: 12%;
	  z-index: 1;
  }
  .detail_sale p {
	  position: relative;
	  top: 10px;
  }
    .rating-opinion {
	overflow: hidden;
	width: 265px;
}
.rating-opinion:not(:checked) > input {
	display: none;
}
.rating-opinion:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-opinion:not(:checked) > label:before {
	content: '★';
}
.rating-opinion > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-opinion:not(:checked) > label:hover,
.rating-opinion:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-opinion > input:checked + label:hover,
.rating-opinion > input:checked + label:hover ~ label,
.rating-opinion > input:checked ~ label:hover,
.rating-opinion > input:checked ~ label:hover ~ label,
.rating-opinion > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.div {
	width: 40%;
}
  .box_main {
	  width: 100%;
	  min-height: 500px;
	  padding: 20px;
  }
  .more {
	  text-decoration: none;
  }
  .adm {
	   width: 600px;
	   margin: 10px auto;
   }
   a {
   text-decoration: none;
}